<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularios en HTML</title>
</head>
<body>

<div class = "DefinicionFormularios">
    <h1>Formularios en HTML</h1>

    <p>Los formularios en HTML son una de sus partes mas importantes, ya que permiten poder recabar datos de manera virtual a traves de una pagina web</p>

    <h2>Un ejemplo de un formulario podria ser el siguiente</h2>

    <form>
        <label>Nombre : </label>
        <input type = "text" id = "nombre" placeholder="Nombre del usuario">

        <label>Edad: </label>
        <input type = "number" id = "edad" placeholder="Edad del usuario">

        <label>Pais: </label>
        <input type = "text" id = "pais" placeholder="Pais del usuario">

        <label>Carrera: </label>
        <select>
            <option>Ingenieria en sistemas computacionales</option>
            <option>Ingenieria en inteligencia artificial</option>
            <option>Ingenieria en mecatronica</option>
            <option>Ingenieria ambiental</option>
            <option>Ingenieria metalurgica</option>
            <option>Ingenieria en alimentos</option>
        </select>

        <button type="submit">Enviar informacion</button>
    </form>
</div>

<div class = "EtiquetaForm">
    <h1>Etiquetas del formulario</h1>
    <p>Para poder inicializar un formulario se necesita el uso inicialmente de la etiqueta form, para posteriormente incluir diferentes etiquetas como lo serian</p>

    <ol>
        <li>label</li>
        <p>El label es la etiqueta que permite al formulario determinar el titulo de un campo de relleno del formulario</p>
        <p>Un ejemplo de su uso seria el siguiente</p>
        <img src = "/imagenes/imageCodigoLabelFormulario.png"

        <li>input</li>
        <p>La etiqueta input es la que nos da los campos de relleno para que el usuario introduzca texto</p>
        <p>Un ejemplo de su codigo seria el siguiente</p>
        <img src = "/imagenes/imageCodigoInputFormulario.png"

        <li>select</li>
        <p>La etiqueta select permite un campo de relleno para opciones de datos</p>
        <p>Un ejemplo del uso de su codigo seria el siguiente</p>
        <img src = "/imagenes/imageCodigoSelectFormulario.png">

        <li>Option</li>
        <p>Option le permite al select tener diferentes opciones</p>

        <li>Button</li>
        <p>Como su nombre lo indica, la etiqueta button le indica a la pagina web que hay un boton</p>
        <p>Un ejemplo del uso de su codigo seria el siguiente</p>
        <img src = "/imagenes/imageCodigoButtonFormulario.png"
    </ol>
</div>
</body>
</html>