<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Imagenes en HTML</title>
</head>
<body>

<div class = "DescripcionEtiquetaImagenes">

    <h1>Etiquetas de imagenes</h1>

    <p>Las etiqutas de imagenes son aquellas que les permite a la pagina web poder insertar imagenes, y su etiqueta es img</p>

    <img src="/imagenes/imagesImagenesHTML.jpg">

    <p>Un ejemplo del codigo de la etiqueta de imagenes es el siguiente</p>
    
    <img src="/imagenes/imageCodigoImagenesHTML.png">

</div>

<div class = "DescripcionEtiquetaHiperVinculo">
    <h1>Etiqueta de hipervinculos</h1>

    <p>Algo de lo que se caracteriza HTML, es por su capacidad de poder vincular las paginas web. Para poder vincular paginas web se utiliza lo que son los hipervinculos</p>

    <a href = "index.html">Ejemplo de un hipervinculo</a>

    <p>El anterior es un ejemplo de una etiqueta de hipervinculo, el cual vincula directamente a la pagina principal</p>

    <p>El siguiente es el codigo del hipervinculo</p>

    <img src = "/imagenes/imageCodigoHiperVinculoHTML.png">

</div>

</body>
</html>