<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML y sus etiquetas</title>
</head>
<body>

<div class = "PresentacionPagina">

    <h1>Definicion de HTML</h1>

    <p>HTML, que significa HyperText Markup Language (Lenguaje de Marcado de Hipertexto), es el estándar fundamental para crear y estructurar el contenido de las páginas web. Utiliza una serie de etiquetas (tags) para organizar elementos como párrafos, títulos, imágenes, enlaces y videos, actuando como el esqueleto que estructura el contenido para los navegadores web</p>

    <h1>Etiquetas mas importantes en HTML</h1>

    <p>HTML como tal se sirve de etiquetas, las cuales definen las partes de una pagina web. Dichas etiquetas se valen de diferentes usos, siendo estas las siguientes divididas en una pagina web cada una</p>

    <ol>
        <li><a href = "/Texto">Texto</a></li>
        <li><a href = "/Formulario">Formularios</a></li>
        <li><a href = "/Imagenes">Imagenes</a></li>
        <li><a href = "/Listas">Listas</a></li>
        <li><a href = "/Multimedia">Multimedia</a></li>
        <li><a href = "/Semanticas">Semanticas</a></li>
        <li><a href = "/Tables">Tables</a></li>

    </ol>

</div>
</body>
</html>