<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parrafos</title>
</head>
<body>

<div class = "DescripcionGeneral">

<h1>Etiquetas de listas en HTML</h1>

    <p>Uno de los aspectos mas importantes en HTML, es el poder formar listas, ya que esto nos permite organizar de mejor manera elementos</p>

    <p>En el caso de las listas, hay dos tipos importantes de ellas, las listas ordenadas y desordenadas</p>

</div>
<div class = "ListasDesordenadas">

    <h1>Listas desordenadas en HTML</h1>

    <p>Las listas desordenadas en HTML son aquellas en las que se listan elementos mediante solo puntos o algun otro tipo de figura, excepto numeros o algo que lleven un orden</p>

    <p>Un ejemplo de dichas listas seria la siguiente</p>\

    <ul>
        <li>Elemento 1</li>
        <li>Elemento 2</li>
        <li>Elemento 3</li>
        <li>Elemento 4</li>
    </ul>

    <h2>Desglose del codigo de una lista desordenada</h2>

    <p>Para poder entender lo que es un formulario en HTML, se necesita conocer de su codigo a fondo, es por ello que un formulario se comprende diferentes elementos, siendo estos los siguientes</p>\

    <h3>ul</h3>

    <p>Esta etiqueta es la que define el tipo de lista que el usuario quiere, en este caso siendo la lista desordenada</p>

    <h3>li</h3>

    <p>Esta es la etiqueta que le indica a la lista el elemento a enlistar</p>

    <p>Un ejemplo del codigo de la lista desordenada seria el siguiente</p>

    <img src = "/imagenes/imageCodigoListaDesordenada.png">

</div>

<div class = "ListasOrdenadas">

    <h1>Listas ordenadas en HTML</h1>

    <p>Las listas ordenadas en HTML son aquellas que a diferencia de las desordenadas, si cuentan con elementos ordenados por numeros</p>

    <p>Un ejemplo de dichas listas es el siguiente</p>

    <ol>
        <li>Elemento 1</li>
        <l1>Elemento 2</l1>
        <li>Elemento 3</li>
        <li>Elemento 4</li>
        <li>Elemento 5</li>
    </ol>

    <h2>Desglose del codigo de una lista ordenada</h2>

    <p>Para poder entender lo que es un formulario en HTML, se necesita conocer de su codigo a fondo, es por ello que un formulario se comprende diferentes elementos, siendo estos los siguientes</p>\

    <h3>ol</h3>

    <p>Esta etiqueta es la que define el tipo de lista que el usuario quiere, en este caso siendo la lista ordenada</p>

    <h3>li</h3>

    <p>Esta es la etiqueta que le indica a la lista el elemento a enlistar</p>

    <p>Un ejemplo del codigo de la lista ordenada seria el siguiente</p>

    <img src = "/imagenes/imageCodigoListaOrdenada.png">

</div>


</body>
</html>