<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multimedia en HTML</title>
</head>
<body>

<div class = "DescripcionGeneral">
  <h1>Archivos multimedia en HTML</h1>
    <p>Los archivos multimedia en html son esenciales para tener una buena pagina web, es por eso que se definene etiquetas especialmente para ello, siendo estas las siguientes</p>

</div>

<div class = "Audio">
  <h1>Etiquetas de audio en HTML</h1>
  <p>Para poder agregar audios en una pagina web, se necesita de la etiqueta audio</p>
    <audio controls>
        <source src = "/imagenes/AudioHTML.mp3" type = "audio/mpeg">
    </audio>
    <p>Un ejemplo del fragmento del codigo es el siguiente</p>
    <img src = "/imagenes/imageCodigoAudioMultimedia.png">

</div>

<div class = "Video">
    <h1>Etiquetas de video en HTML</h1>
    <p>Para poder agrega videos en una pagina web, se necesita de la etiqueta video</p>
    <video controls>
        <source src = "/imagenes/videohtml.mp4" type = "video/mp4">
    </video>
    <p>Un ejemplo del codigo del video seria el siguiente</p>
    <img src = "/imagenes/imageCodigoVideoMultimedia.png">

</div>

</body>
</html>