<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Semantica en HTML</title>
</head>
<body>

<div class = "DescripcionGeneral">
    <h1>Semantica en HTML</h1>
    <p>La semantica en HTML permite la estructuracion del contenido describiendo su significado tanto para navegador como para los desarrolladores.</p>
    <h2>Diagrama de la semantica de una pagina web</h2>
    <img src = "/imagenes/imageSemanticaHTML.png">

</div>

<div class = "Header">

    <h1>Header</h1>
    <p>La etiqueta header representa un contenedor para contenido introductorio o enlaces de navegacion</p>
</div>

<div class = "footer">

    <h1>Footer</h1>

    <p>La footer se situa al final de una seccion o pagina, conteniendo informacion sobre el autor o contacto</p>

</div>

<div class = "Nav">

    <h1>Nav</h1>

    <p>La etiqueta Nav define un bloque de enlaces de navegacion principal, como un menu o indice</p>

</div>

<div class = "main">

    <h1>Main</h1>

    <p>La etiqueta main contiene el contenido central y unico de la pagina web</p>


</div>

<div class = "Section">
    <h1>Section</h1>

    <p>La etiqueta Section permite agrupar el contenido relacionado semanticamente, generalmente con su propio encabezado, para poder dividir la pagina en secciones tangibles </p>
</div>

<div class ="Article">
    <h1>Article</h1>

    <p>La etiquetqa article define contenido autonomo, independiente y reutilizable, como una entrada de blog, noticia o comentario</p>
</div>

</body>
</html>