<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tablas en HTML</title>
</head>
<body>

<div class = "DescripcionGeneral">
    <h1>Tablas en HTML</h1>

    <p>Las tablas en HTML son un recurso muy importante, ya que nos permiten tener una mejor organizacion de los elementos</p>

    <p>Un ejemplo de su uso seria el siguiente</p>

    <table>
        <tr>
            <th>Elemento 1</th>
            <th>Elemento 2</th>
            <th>Elemento 3</th>
        </tr>

        <tr>
            <td>Elemento 4</td>
            <td>Elemento 5</td>
            <td>Elemento 6</td>
        </tr>

        <tr>
            <td>Elemento 7</td>
            <td>Elemento 8</td>
            <td>Elemento 9</td>
        </tr>
    </table>

    <p>A continuacion se muestra el fragmento de codigo de ejemplo en el que se desplaza una tabla </p>

    <img src="/imagenes/imageCodigoTabla.png">

</div>

<div class = "EtiquetaFilas">
    <h2>Definicion de las filas en HTML</h2>
    <p>Para poder definir una fila en html, se necesita el uso de la etiqueta tr</p>
    <p>Un ejemplo del codigo de la etiqueta de filas</p>
    <img src = "/imagenes/imageCodigoFilasTables.png"

</div>

<div class = "EtiquetasCeldasEncabezado">
    <h2>Definicion de etiquetas con encabezado</h2>
    <p>Para poder definir etiquetas con mayor importancia lo que son las celdas, se utiliza lo que es la etiqueta th, lo cual permite a la celda tener un remarcado de mayor importancia</p>
    <p>Un ejemplo del codigo de dichas celdas seria el siguiente</p>
    <img src = "/imagenes/imageCodigoCeldasEncabezadoTables.png">
</div>

<div class = "EtiquetasCeldaNormal">
    <h2>Definicion de celdas normales</h2>
    <p>Las celdas normales se definen con lo que es la etiqueta td</p>
    <p>Un ejemplo del codigo de una celda normal seria el siguiente</p>
    <img src = "/imagenes/imagesCodigoCeldaNormalTables.png">
</div>

</body>
</html>