<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Etiquetas de texto en HTML </title>
</head>
<body>
<div class = "Titulos">
    <h1>Títulos en HTML</h1>

    <p>Una parte fundamental de todos las paginas en HTML es la manera de estructurar las diferentes partes de largos textos, para ello se ocupa de etiquetas llamadas titulos</p>

    <p>Los titulos varian dependiendo de su importancia, yendo de h1 hasta h6, que como es de suposicion, esto va dependiendo de su importancia</p>

    <p>Algunos ejemplos de los titulos son los siguientes</p>

    <h1>Titulo 1 H1</h1>

    <h2>Titulo 2 H2</h2>

    <h3>Titulo 3 H3</h3>

    <h4>Titulo 4 H4</h4>

    <h5>Titulo 5 H5</h5>

    <h6>Titulo 6 H6</h6>

    <p>A continuacion se muestra el codigo en donde se enlistan todos los titulos</p>

    <img src ="/imagenes/imageCodigoTitulos.png" width = "300" height = "250">

</div>


<div class = "Parrafos">

    <h1>Parrafos en HTML</h1>

    <p>La etiqueta p es la que permite a la página web saber cuando queremos escribir un texto en forma de parrafo</p>

    <h2>El uso que se le da a la etiqueta p</h2>

    <p>El uso que se le da comunmente a la etiqueta p, es información que queremos escribir de forma continua y larga,  no es tan importante como un título, pero aun así es informacion que se debe de escribir</p>

    <p>A continuacion se muestra una imagen en la que se muestra el codigo de un parrago en html</p>
    <img src="/imagenes/imageCodigoParrafo.png">

</div>

<div class = "Strong">

    <h1>Negritas en los textos</h1>

    <p>La etiqueta span es la que le permite a la pagina web poder marcar algunos textos en negritas</p>

    <h2>El uso que se le da a la etiqueta span</h2>

    <p>El uso que se le da comunmente a la etiqueta span es la de remarcar algunas palabras en negritas con el fin de marcar mas importancia en dichas palabras o caracteres</p>

    <p><span>Texto en negritas</span></p>

    <p>A continuacion se muestra el fragmento de codigo en donde esta el texto en negritas</p>
    <img src = "/imagenes/imageCodigoTextoNegritas.png">

</div>



<h1></h1>
</body>
</html>